*{
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.wrap{
    position: relative;
    width: 150px;
    height: 150px;
}
.top{
    position: absolute;
    width: 150px;
    height: 150px;
    border-top: 30px solid #e33e2b;
    border-left: 30px solid #f1b500;
    border-bottom: 30px solid #2ba14b;
    border-right: 30px solid transparent;
    border-radius: 50%;
}
.half{
    width: 150px;
    height: 150px;
    position: absolute;
    border: 30px solid transparent;
    border-right: 30px solid #3a7cec;
    transform: rotate(45deg);
    border-radius: 50%;
    z-index: -1;
}
.line{
    width: 80px;
    height: 30px;
    background-color: #3a7cec;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-bottom-right-radius: 15px;
}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #000;
	text-align: center;
  }
  .footer p {
  text-decoration: none;
  color: #fff;
  }
  .footer a {
	text-decoration: none;
	color: #3a7cec;
  }
  .footer a:hover {
	text-decoration: underline;
	color: #2ba14b;
  }